

body {
    background: #eee;
    margin: 0;
    padding: 0;
    text-align: justify;
}

@media print {
  @page {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15mm;
    margin-bottom: 25mm;
    @bottom-center {
      font-style: Georgia, sans-serif;
      font-size: 9pt;
      content: counter(page);
    }
  }
}

h1 {
  padding-bottom: 2em;
  font-style: Georgia, sans-serif;
  font-weight: normal;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
}

h2 {
  border-bottom: 1px dashed #666;
  margin-top: 2em;
  padding-bottom: 4px;
  font-style: Georgia, sans-serif;
  font-weight: normal;
  font-size: 9pt;
}


#content-container {
    max-width: 790px;
    margin: 0 auto;
}

.resume-container {
    font-family: Georgia, sans-serif;
    font-size: 9pt;
    margin: 0 auto;
    background-color: white;
    height: 100%;
    padding: 13mm 25mm 15mm 22mm;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
  margin-top: 2em;
}

/* Remove borders (like Word hidden table) */
table, td {
  border: none;
}

/* First row (title + dates) */
table tr:first-child th:first-child {
  font-size: 1em;
  text-align: left;
  font-weight: normal;
}

table tr:first-child th:last-child {
  text-align: right;
  font-weight: normal;
  color: lightgrey;
}

/* Second row (company + location) */
table tr:nth-child(1) td:first-child {
  font-weight: bold;
  font-weight: normal;
}

table tr:nth-child(1) td:last-child {
  text-align: right;
  color: lightgray;
}

ul {
    padding-inline-start: 1em;
}
